.nav-style {
  text-transform: none;
  width: 100%;
  background-color: #dfdfdf;
}

.nav-style a {
  list-style-type: none;
  display: inline-block;
  padding: 15px 25px;
}

.App {
  /* text-align: center; */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-heading {
  font-size: 40px;
  margin: 30px auto;
  font-weight: 700;
  text-align: center;
}

.container {
  display: flex;
  padding: 20px;
  gap: 50px;
}

.left-panel {
  width: calc(50% + 50px);
}

.right-panel {
  width: calc(50% - 50px);
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

.label {
  font-size: 24px;
}

.input-box {
  background-color: #dfdfdf;
  border-radius: 10px;
  padding: 5px 10px;
  color: #282c34;
}

.input-box input {
  min-width: 100px;
  height: 23px;
  background-color: #dfdfdf;
  border: none;
  font-size: large;
}

input:focus {
  outline: none;
}

button {
  padding: 8px 12px;
  font-size: large;
  border-radius: 12px;
  border: none;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper > button {
  width: 200px;
  height: 40px;
}

.success {
  background-color: #65b66d;
  color: #dfdfdf;
}

.primary {
  background-color: #1da1f2;
  color: #dfdfdf;
}

table,
td,
th {
  border: 1px solid;
  padding: 15px;
  border-collapse: collapse;
  margin: 10px;
}

thead {
  background-color: #dfdfdf;
  color: #282c34;
}

.page-layout {
  text-align: center;
  padding: 3%;
  max-width: 1024px;
  margin: auto;
}

.table-layout {
  margin: 20px auto;
}

.hra {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
}

.hra-radio-wrapper {
  width: 200px;
  display: flex;
  font-size: large;
  justify-content: space-between;
}
